llama-index
pypdf
openai
langchain
streamlit
python-dotenv
langserve
fastapi
langchain_community
langchain_openai
langchain_core
uvicorn
sse_starlette
bs4
chromadb
faiss-cpu
wikipedia
arXiv
PyPDF2
langchain_google_genai
google-generativeai
